[id^="bx_incl_area"] {
    display: flex;
    flex-wrap: wrap;
}
.content-block__panel.is--aside-navbar {
    display: flex;
    flex-wrap: wrap;
}

.catalog-filter {
    display: flex;
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}

.catalog-filter > .cabinet__filter-nav-item {
    max-width: none;
    flex-basis: 27%;
}

.pagination__link.is--size input[type=checkbox]{
    display: none;
}

.smartfilter {
    width: 100%;
}

.form__control.is--xs {
    height: 40px;
    padding: 0px 10px;
}

@media (min-width: 1200px) {
    .cabinet__filter-dropdown {
        display: flex;
    }
}

@media (min-width: 1700px) {
    .cabinet__filter-nav-item.is--mla {
        margin-left: 0;
    }
}
